<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <target xsi:type="File"
            name="fileTarget"
            fileName="${var:fileName}"
            archiveFileName="${var:archiveFileName}"
            maxArchiveFiles="7"
            archiveEvery="Day"
            layout="${date}|${level:uppercase=true}|${logger}| ${message} ${exception}" />
    <target xsi:type="Console"
            name="consoleTarget"
            layout="${date}|${level:uppercase=true}|${logger}| ${message} ${exception}" />
    <target xsi:type="Null"
            name="blackholeTarget" />
  </targets>

  <rules>
    <logger name="SOLBO" minlevel="Trace" writeTo="consoleTarget" />
    <logger name="SOLBO" minlevel="Info" writeTo="fileTarget" />

    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackholeTarget" final="true" />
    <logger name="Quartz*" minlevel="Trace" maxlevel="Info" writeTo="blackholeTarget" final="true" />
  </rules>

</nlog>